/.vs
/jNet.RPC/.vs
/jNet.RPC/bin
/jNet.RPC/obj
/packages
/jNet.RPCUnitTests/obj
/jNet.RPCUnitTests/bin
/jNet.RPCIntegrationTests/bin
/jNet.RPCIntegrationTests/obj
/jNet.RPC.Client/obj
/jNet.RPC.Client/bin
/jNet.RPC.Common/obj
/jNet.RPC.Common/bin
/jNet.RPC.Server/obj
/jNet.RPC.Server/bin
