/.vs
/jNet.RPC/.vs
/jNet.RPC/bin
/jNet.RPC/obj
/packages
/Tests/jNet.RPC.UnitTests/obj
/Tests/jNet.RPC.UnitTests/bin
/Tests/jNet.RPC.IntegrationTests/bin
/Tests/jNet.RPC.IntegrationTests/obj
/Tests/Tests.ClientLibrary/obj
/Tests/Tests.ClientLibrary/bin
/Tests/Tests.ServerLibrary/obj
/Tests/Tests.ServerLibrary/bin
/Tests/Tests.CommonLibrary/obj
/Tests/Tests.CommonLibrary/bin
/TestResults
/Examples/ClientApp/bin
/Examples/ClientApp/obj
/Examples/ServerApp/bin
/Examples/ServerApp/obj
/Examples/SharedInterfaces/bin
/Examples/SharedInterfaces/obj
